/* Media Manager */
.media-wrap {
    padding: 10px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.media-wrap .media-box {
    min-height: 100px;
}

.media-area ol.breadcrumb li a {
    font-size: 15px;
}

.media-area ol.breadcrumb li i {
    font-size: 20px;
}

.media-paths .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.media-box .media-item {
    width: 170px;
    height: 170px;
    max-width: 150px;
    max-height: 150px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    float: left;
    border: 2px solid #e8e8e8;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.media-box .media-item:hover {
    border-color: #337ab7;
}

.media-item .media-thumbnail {
    height: 100px;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 1rem;
    text-align: center;
}

.media-item .media-thumbnail a {
    display: block;
    text-align: center;
}

.media-item .media-thumbnail a i {
    color: #000;
    font-size: 100px;
}

.media-item .media-thumbnail img {
    width: auto;
    height: 100px;
}

.media-item .media-caption .name {
    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.media-item .media-name {
    text-align: center;
}

.media-item .media-name .name {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.media-item .media-caption > a {
    float: right;
}

/* Input widget */
.media-input-wrap .media-input-preview {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
}

.media-input-wrap .media-input-preview img {
    width: auto;
    height: 100px;
}
